<section
  class="container-fluid g-padding-x-10--xs g-padding-x-35--sm g-padding-x-100--md g-padding-x-150--lg g-margin-b-30--xs g-margin-b-0--md g-padding-y-80--md g-padding-y-50--xs"
  style="background: url(img/Home/section-bg-up.svg) 0% 0% no-repeat;">
  <div class="col-xs-12 g-margin-b-40--xs text-center">
    <h3 class="s-cry-title g-display-inline-block--xs g-font-weight--700">Our timeline</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 s-timeline-yearline g-padding-y-30--xs g-padding-x-0--xs g-z-index--1">
      <div class="col-xs-12 col-md-5 g-padding-x-70--md">
        <div class="s-timeline-item--left g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10">
          <h6 class="g-font-weight--700">April 2017</h6>
          <p><i
              class="fa-badge-check far g-color--blueviolet g-color--purple g-font-size-20--xs g-margin-r-10--xs"></i>Introduction
            to Cryptocurrencies and forming a team to work in various areas related to Cryptocurrencies</p>
          <img src="img/Home/t1.svg" class="hidden-xs hidden-sm" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-2 g-position--relative text-center">
        <div>
          <span class="g-font-size-60--md g-font-weight--700 s-timeline-year s-timeline-year2017">2017</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 g-padding-x-70--md">
        <div
          class="s-timeline-item--right g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10 g-margin-t-40--sm">
          <h6 class="g-font-weight--700">November 2017</h6>
          <p><i
              class="fa-badge-check far g-color--blueviolet g-color--purple g-font-size-20--xs g-margin-r-10--xs"></i>Developing
            Cryptocurrency trading robot and capital management softwares</p>
          <img src="img/Home/t2.svg" class="hidden-xs hidden-sm" alt="">
        </div>
      </div>
    </div>

    <div class="col-xs-12 s-timeline-yearline g-padding-y-30--xs g-padding-x-0--xs g-z-index--1">
      <div class="col-xs-12 col-md-5 g-padding-x-70--md">
        <div class="s-timeline-item--left g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10">
          <h6 class="g-font-weight--700">January 2018</h6>
          <p><i
              class="fa-badge-check far g-color--blueviolet g-color--purple g-font-size-20--xs g-margin-r-10--xs"></i>Initial
            investigation on Cryptocurrency mining</p>
          <img src="img/Home/t3.svg" class="hidden-xs hidden-sm" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-2 s-timeline-yearline g-position--relative text-center">
        <div>
          <span class="g-font-size-60--md g-font-weight--700 s-timeline-year s-timeline-year2018">2018</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 g-padding-x-70--md">
        <div
          class="s-timeline-item--right g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10 g-margin-t-40--sm">
          <h6 class="g-font-weight--700">December2018</h6>
          <p><i
              class="fa-badge-check far g-color--blueviolet g-color--purple g-font-size-20--xs g-margin-r-10--xs"></i>Starting
            serious investigations to launch Cryptocurrency mining and access to cheap electricity, the Key to success
            in mining</p>
          <img src="img/Home/t4.svg" class="hidden-xs hidden-sm" alt="">
        </div>
      </div>
    </div>

    <div class="col-xs-12 s-timeline-yearline g-padding-y-30--xs g-padding-x-0--xs g-z-index--1">
      <div class="col-xs-12 col-md-5 g-padding-x-70--md">
        <div class="s-timeline-item--left g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10">
          <h6 class="g-font-weight--700 g-margin-l-70--xs">March 2019</h6>
          <p><i
              class="fa-badge-check far g-color--blueviolet g-color--purple g-font-size-20--xs g-margin-r-10--xs"></i>Launching
            first mini-farm with the capacity of 200 Terahash and 20 KiloWatt Hour power consumption to experience the
            challenges of running and maintaining mining farms an action</p>
          <img src="img/Home/t5.svg" class="hidden-xs hidden-sm" alt="">
        </div>
        <div class="s-timeline-item--left g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10">
          <h6 class="g-font-weight--700">August 2019</h6>
          <p><i
              class="fa-badge-check far g-color--blueviolet g-color--purple g-font-size-20--xs g-margin-r-10--xs"></i>Second
            mini-farm with 500Thash hashpower successfuly launched. <br>
            <i
              class="fa-badge-check far g-color--blueviolet g-color--purple g-font-size-20--xs g-margin-r-10--xs"></i>Start
            mining in second country</p>
          <img src="img/Home/t7.svg" class="hidden-xs hidden-sm" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-2 s-timeline-yearline g-position--relative text-center">
        <div>
          <span class="g-font-size-60--md g-font-weight--700 s-timeline-year">2019</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 g-padding-x-70--md">
        <div
          class="s-timeline-item--right g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10 g-margin-t-40--sm">
          <h6 class="g-font-weight--700">July 2019</h6>
          <p><i
              class="fa-badge-check far g-color--blueviolet g-color--purple g-font-size-20--xs g-margin-r-10--xs"></i>Start
            developing the Mining Service Platform</p>
          <img src="img/Home/t6.svg" class="hidden-xs hidden-sm" alt="">
        </div>
        <div
          class="s-timeline-item--right g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10 g-margin-t-40--sm">
          <h6 class="g-font-weight--700">December 2019</h6>
          <p>ICO</p>
          <img src="img/Home/t8.svg" class="hidden-xs hidden-sm" alt="">
        </div>
      </div>
    </div>

    <div class="col-xs-12 s-timeline-yearline g-padding-y-30--xs g-padding-x-0--xs g-z-index--1">
      <div class="col-xs-12 col-md-5 g-padding-x-70--md">
        <div class="s-timeline-item--left g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10">
          <h6 class="g-font-weight--700">January 2020</h6>
          <p>Purchase miners and equipments to expand the mining volumeLaunching User Dashboard</p>
          <img src="img/Home/t9.svg" class="hidden-xs hidden-sm" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-2 s-timeline-yearline g-position--relative text-center">
        <div>
          <span class="g-font-size-60--md g-font-weight--700 s-timeline-year">2020</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 g-padding-x-70--md">
        <div
          class="s-timeline-item--right g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10 g-margin-t-40--sm">
          <h6 class="g-font-weight--700">February 2020</h6>
          <p>The first profit distribution</p>
          <img src="img/Home/t-final.svg" class="hidden-xs hidden-sm" alt="">
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-sm-6 col-sm-offset-3 g-z-index--1">
      <div
        class="s-timeline-item--left text-center g-box-shadow__primary-v1 g-padding-x-15--xs g-padding-y-30--xs g-radius--10">
        <h6 class="g-font-weight--700">Q1 2020</h6>
        <p>Launching our first Hydroelectric Power Plant</p>
        <!-- <img src="img/Home/t-final.svg" class="hidden-xs hidden-sm" alt=""> -->
      </div>
    </div>

  </div>
</section>