
<section class="container g-margin-b-30--xs g-margin-b-0--md g-padding-y-80--md g-padding-y-50--xs g-padding-x-100--md">
  <div class="col-xs-12 g-margin-b-40--xs text-center">
    <h3 class="s-cry-title g-display-inline-block--xs g-font-weight--700">Meet Our Team</h3>
  </div>

  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/ali-gonabadi.jpg" alt="Ali Gonabadi"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Ali Gonabadi</h4>
      <p>Co-founder & CEO & CTO</p>
      <a href="https://www.linkedin.com/in/ali-gonabadi/" target="_blank"><i class="fab fa-linkedin g-color--blue">
        </i> </a> &nbsp;
      <a href="https://twitter.com/AliGonabadi" target="_blank"><i class="fab fa-twitter g-color--myco"></i></a>
      <a href="https://stackoverflow.com/users/1016287/ali-gonabadi" target="_blank" style="vertical-align: super;"><img
          src="./img/Home/stackoverflow.svg" alt="stackoverflow" style="width: 24px;"></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/mahdi-abdi.jpg" alt="Mahdi Abdi"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Mahdi Abdi</h4>
      <p>Co-founder & COO & Head of Engineering</p>
      <a href="https://www.linkedin.com/in/mahdi-abdi-444601170/" target="_blank"><i
          class="fab fa-linkedin g-color--blue"> </i> </a> &nbsp;
      <a href="https://twitter.com/MahdiiAbdii" target="_blank"><i class="fab fa-twitter g-color--myco"></i></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/saeed-bayat.jpg" alt="Saeed Bayat"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Saeed Bayat</h4>
      <p>Co-founder & CFO</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/mahdi-tahsildari.jpg" alt="Mahdi Tahsildari"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Mahdi Tahsildari</h4>
      <p>Project Manager</p>
      <a href="https://www.linkedin.com/in/mahditahsildari/" target="_blank"><i class="fab fa-linkedin g-color--blue">
        </i> </a> &nbsp;
      <a href="https://twitter.com/tahsildari" target="_blank"><i class="fab fa-twitter g-color--myco"></i></a>
      <a href="https://stackoverflow.com/users/1471381/mahdi-tahsildari" target="_blank"
        style="vertical-align: super;"><img src="./img/Home/stackoverflow.svg" alt="stackoverflow"
          style="width: 24px;"></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/mahdi-ghashghaii.jpg" alt="Mahdi Ghashghaii"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Mahdi Ghashghaii</h4>
      <p>Head of block chain development</p>
      <a href="https://www.linkedin.com/in/mahdi-ghashghaei-71b60a164/" target="_blank"><i
          class="fab fa-linkedin g-color--blue"></i></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/jalal-rokhsat.jpg" alt="Jalal Rokhsat"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Jalal Rokhsat</h4>
      <p>Mechanical engineer</p>
      <a href="https://www.linkedin.com/in/jalal-rokhsat-584850155/" target="_blank"><i
          class="fab fa-linkedin g-color--blue"></i></a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/aminvakili.jpg" alt="Amin Vakili"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Amin Vakili</h4>
      <p>Graphic & UI Designer</p>
      <a href="https://www.linkedin.com/in/aminvakili/" target="_blank"><i
          class="fab fa-linkedin g-color--blue"></i></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/amin-gonabadi.jpg" alt="Amin Gonabadi"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Amin Gonabadi</h4>
      <p>Front-end Developer</p>
      <a href="https://www.linkedin.com/in/amin-gonabadi-0788b0139/" target="_blank"> <i
          class="fab fa-linkedin g-color--blue"></i></a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/moslem-ebrahimi.jpg" alt="Moslem Ebrahimi"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Muslim Ibrahimi</h4>
      <p>Mining Engineer</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/sina-moghadas.jpg" alt="Sina Moghddas"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Sina Moghddas</h4>
      <p>Senior Network and Cloud Engineer</p>
      <a href="https://www.linkedin.com/in/sinamoghaddas/" target="_blank"> <i
          class="fab fa-linkedin g-color--blue"></i></a>
    </div>
  </div>
</section>

<!-- Advisors -->
<section class="container g-margin-b-30--xs g-margin-b-0--md g-padding-y-80--md g-padding-y-50--xs g-padding-x-100--md">
  <div class="col-xs-12 g-margin-b-40--xs text-center">
    <h3 class="s-cry-title g-display-inline-block--xs g-font-weight--700">Advisors</h3>
  </div>

  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/dr-ahmad-ahmadi.jpg" alt="Ahmad Ahmadi"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Dr. Ahmad Ahmadi</h4>
      <p>Professor of Law and Legal<br>Advisor at Mashhad Science and Technology Park</p>
      <a href="https://www.linkedin.com/in/ahmadahmadi/" target="_blank"><i
          class="fab fa-linkedin g-color--blue"></i></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/ali-jahedi.jpg" alt="Ali Jahedi"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Dr. Ali Jahedi</h4>
      <p>Director of Mashhad<br>Science and Technology Park Development Center</p>
      <a href="https://www.linkedin.com/in/alijahedi/"> <i class="fab fa-linkedin g-color--blue"></i></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 g-margin-b-60--xs">
    <div class="col-xs-12 g-padding-x-20--md g-padding-y-30--xs s-team-member text-center">
      <img src="img/Team/mohammadreza-sahebkar.jpg" alt="Mohammadreza Sahebkar"
        class="g-margin--auto g-margin-b-10--xs g-padding-x-20--xs g-padding-x-50--md img-circle img-responsive">
      <h4 class="g-font-weight--700">Mohammadreza Sahebkar</h4>
      <p>Business and Import<br>Consultant</p>
    </div>
  </div>
</section>
