<!--========== Title Promo ==========-->
<section
  class="container-fluid g-position--relative s-bg-section items g-padding-x-10--xs g-padding-x-35--sm g-padding-y-80--md g-padding-y-50--xs g-margin-b-20--xs">
  <div class="row text-center g-padding-y-40--xs g-padding-x-100--lg">
    <div class='col-xs-12 text-center wow fadeIn' data-wow-delay='0.1s'>
      <h1
        class="g-font-weight--700 g-margin-b-10--xs g-color--white g-font-size-26--xs g-font-size-40--md g-font-size-50--lg">
        404 - Page not found</h1>
    </div>
  </div>
</section>
<!--========== END Title Promo ==========-->

<!--========== PAGE CONTENT ==========-->
<section
  class="container-fluid g-padding-x-10--xs g-padding-x-35--sm g-padding-x-150--lg g-margin-b-30--xs g-margin-b-0--md g-padding-y-80--md g-padding-y-50--xs g-padding-x-100--md">
  <div class="col-xs-12 g-margin-b-60--xs">
    <p class="text-center">
      Sorry! The Page that you are looking for, Not Found.
    </p>
    <p class="text-center">
      <strong> <a href="/">Go to Home</a></strong>
      <br>
      <br>
      <br>
      <br>
    </p>
  </div>
</section>

{{#contentFor "scripts"}}
  <script src="/vendor/jquery.wow.min.js"></script>
  <script src="/js/components/wow.min.js"></script>
{{/contentFor}}