 <section
    class="container-fluid g-padding-x-10--xs g-padding-x-35--sm g-padding-x-150--lg g-margin-b-30--xs g-margin-b-0--md g-padding-y-80--md g-padding-y-50--xs g-padding-x-100--md">
    <div class="col-xs-12 g-margin-b-60--xs">
      <div class="col-xs-12 col-sm-7 g-padding-x-0--xs g-padding-x-15--sm g-padding-x-50--md g-pull-right--sm">
        <h2 class="s-cry-title g-font-weight--700">Who we are</h2>
        <p>After researching in the field of blockchain and crypto-currencies, we found its
          future bright and promising. In May 2017, we formed the CryTech team with
          three co-founders and started working in the fields of trading, making robots
          and mining crypto-currencies. Currently, our team has over ten members and
          is still growing.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5 g-padding-x-0--xs g-padding-x-15--sm">
        <img src="/img/About/about-us.svg" class="img-responsive g-margin--auto">
      </div>
    </div>

    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-7 g-padding-x-0--xs g-padding-x-15--sm g-padding-x-50--md">
        <h2 class="s-cry-title g-font-weight--700">What we do</h2>
        <p>We are active in various aspects of blockchain and crypto-currencies, including:
          mining, trading (automated trading, technical analysis, fundamental analysis),
          creating new blockchain products and services, etc.</p>
      </div>
      <div class="col-xs-12 col-sm-5 g-padding-x-0--xs g-padding-x-15--sm">
        <img src="/img/About/feature1.svg" class="img-responsive g-margin--auto">
      </div>
    </div>

    <div class="col-xs-12 g-margin-b-60--xs">
      <div class="col-xs-12 col-sm-7 g-padding-x-0--xs g-padding-x-15--sm g-padding-x-50--md g-pull-right--sm">
        <h2 class="s-cry-title g-font-weight--700">Our vision</h2>
        <p>We believe that blockchain and its products, including crypto-currencies will
          play a very important role in the world and we try to be part of this Movement.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5 g-padding-x-0--xs g-padding-x-15--sm">
        <img src="/img/About/about-us-vision.svg" class="img-responsive g-margin--auto">
      </div>
    </div>
  </section>

{{> team}}