{{#contentFor "head"}}
  <link href="vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css"/>
  <link href="vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css"/>
{{/contentFor}}

<!--========== PROMO BLOCK ==========-->
<section
  class="container-fluid g-position--relative s-bg-section items g-padding-x-10--xs g-padding-x-35--sm g-padding-y-80--md g-padding-y-50--xs g-margin-b-20--xs">
  <div class="row text-center g-padding-y-40--xs g-padding-x-100--lg">
    <div class='col-xs-12 text-center wow fadeIn' data-wow-delay='0.1s'>
      <h1
        class="g-font-size-40--xs g-font-size-50--sm g-font-size-70--md g-color--white g-letter-spacing--1 g-margin-b-30--xs">
        FAQ</h1>
      <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2">Your
        Questions. Answered.</p>
      <a href="#js__scroll-to-section">
        <span class="s-icon s-icon--md s-icon--white-brd g-radius--circle far fa-chevron-down"></span>
      </a>
    </div>
  </div>
</section>
<!--========== END Title Promo ==========-->
<!-- Accordion -->
<div class="s-faq" id="js__scroll-to-section" style="background:#A787FF">
  <div class="container g-padding-y-125--xs">
    <div class="row">
      <div class="col-sm-6">
        <div class="cbp cbp-l-grid-faq js__grid-faq">
          <div class="cbp-item buying">
            <div class="cbp-caption">
              <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                <h2 class="s-faq-grid__title"><i class="far fa-question-circle g-margin-r-10--xs"></i>How can I trust
                  Crytech Mining?</h2>
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="g-color--white-opacity">
                  Transparency of the system: all operations and processes such as minting and distribution of tokens,
                  payment of profit, and controlling the validation of processes are done by smart contracts and open
                  source software so users can monitor the operations
                  <br>
                  Given that half of the mining profit belongs to Crytech, it makes no sense for the project to be a
                  scam. Growing the number of investors and tokens is a more profitable workaround.
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-item community">
            <div class="cbp-caption">
              <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                <h3 class="s-faq-grid__title"><i class="far fa-question-circle g-margin-r-10--xs"></i>What happens when
                  Bitcoin price drops or difficulty increases?
                </h3>
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="g-color--white-opacity">
                  We have almost the cheapest electricity among miners. So we can keep devices working when others are
                  turning theirs off. This means we make profit even when others shut their miners down.
                  <br>
                  Another workaround is buying devices with less power consumption and replace with old devices.
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-item buying">
            <div class="cbp-caption">
              <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                <h4 class="s-faq-grid__title"><i class="far fa-question-circle g-margin-r-10--xs"></i>What is the
                  minimum payout?
                </h4>
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="g-color--white-opacity">
                  Payment is made weekly and the minimum is 0.05 ETH
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="cbp cbp-l-grid-faq js__grid-faq">
          <div class="cbp-item account">
            <div class="cbp-caption">
              <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                <h4 class="s-faq-grid__title"><i class="far fa-question-circle g-margin-r-10--xs"></i>How does the smart
                  contract mint tokens?</h4>
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="g-color--white-opacity">
                  Smart contract knows how many hashrates should exist for 1 token. It gets total hashrate of CryTech
                  network from pools, checks the given hashrate with circulating tokens, if the hashrate is more than
                  the calculated hashrate, then it generates enough tokens to equalize the number of tokens with the
                  existing hashrate.

                </div>
              </div>
            </div>
          </div>
          <div class="cbp-item author">
            <div class="cbp-caption">
              <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                <h4 class="s-faq-grid__title"><i class="far fa-question-circle g-margin-r-10--xs"></i>Why does CryTech
                  take 50% of profit?</h4>
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="g-color--white-opacity">
                  Mining has a lot of challenges and the profit should be enough to overcome the challenges.
                  <br><br>With 50% of profit, you still gain more with us compared with other mining platforms, unlike
                  which we only benefit when you benefit.
                  <br><br>Do not trust those who claim to receive a little profit. There are many scam projects in
                  blockchain and crypto-currencies that offer tempting suggestions.
                  <br><br>50% of profit can compensate the necessary costs for fixing any unforeseen problems even
                  massacres such as floods, fires, etc... to ensure that the payment of the holders is ensured under any
                  circumstances.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Accordion -->

<!-- Subscribe -->
<div class="g-container--sm g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
  <div>
    <p
      class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">
      Send us your message</p>
    <h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1">We are ready to help you</h2>

    <a href="/contact"
      class="s-btn s-btn--primary-bg g-z-index--2 g-position--relative g-padding-y-5--xs g-radius--50 g-padding-x-80--xs">Contact
      Us</a>
  </div>
</div>
<!-- End Subscribe -->

{{#contentFor "scripts"}}
  <script src="vendor/jquery.migrate.min.js"></script>
  <script src="vendor/jquery.wow.min.js"></script>
  <script src="vendor/jquery.back-to-top.min.js"></script>
  <script src="js/global.min.js"></script>
  <script src="js/components/wow.min.js"></script>
  <script src="vendor/jquery.smooth-scroll.min.js"></script>
  <script src="vendor/scrollbar/jquery.scrollbar.min.js"></script>
  <script src="vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
  <script src="js/components/scrollbar.min.js"></script>
  <script src="js/components/faq.min.js"></script>
{{/contentFor}}