<!--========== Title Promo ==========-->
<section class="container-fluid g-padding-x-10--xs g-padding-y-80--md g-padding-y-50--xs items" id="js-scene">
  <div class="items__inner hidden-xs hidden-sm">
    <img src="img/Home/new-promo-d2.svg" alt="background" class="s-promo-d1 layer wow slideInDown" data-depth="0.2"
      data-title="no.1">
    <img src="img/Home/new-promo-d1.svg" alt="new-promo-d2.svg" class="s-promo-d2 layer wow slideInDown"
      data-depth="0.1" data-title="no.2" data-wow-delay="0.3s" data-wow-duration="1200ms">
  </div>
  <img src="img/Home/promo-d2.svg" alt="background" class="s-promo-d1 hidden-md hidden-lg wow slideInDown">
  <img src="img/Home/promo-d1.svg" alt="background" class="s-promo-d2 hidden-md hidden-lg wow slideInDown"
    data-wow-delay="0.3s" data-wow-duration="1200ms">

  <div class="row text-center">
    <div
      class='col-xs-12 col-md-6 s-promo-txt g-margin-b-10--xs g-padding-x-80--lg g-padding-x-50--md g-padding-x-15--xs wow fadeIn'
      data-wow-delay='0.1s'>
      <div class="wow fadeIn" data-wow-delay="1s">
        <h1
          class="g-font-weight--700 g-margin-b-60--xs g-margin-b-10--sm g-color--white g-font-size-26--xs g-font-size-40--md g-font-size-50--lg">
          CryTech Mining</h1>
        <p class="g-font-weight--700 g-font-size-22--lg g-font-size-18--md g-margin-b-30--xs">Contribution in the
          mining of profitable Cryptocurrencies, highly efficient and secure (for everyone)</p>
        <p class="g-font-size-22--lg g-font-size-18--md">You acquire the token, we handle the hard work, <br><strong>you
            take your profit</strong>.
          <hr class="g-width-100--xs">
          <p>Investment in mining has never been such easy</p>
      </div>
    </div>
    <div
      class="col-xs-12 col-md-6 g-margin-t-140--lg g-margin-t-100--md g-padding-r-180--lg g-padding-r-100--sm g-margin-b-30--xs wow fadeIn"
      data-wow-delay="1s">
      <img src="img/Home/index-promo-1.svg" alt="Crytech-mining Info graphic, motion graphic"
        class="img-responsive g-margin--auto">
    </div>

    <div class="col-xs-12" style="background: url(img/Home/section-bg-bottom.svg) 50% 100% no-repeat;z-index: 0;">

      <p class="g-margin-t-80--md g-margin-t-170--lg ">As soon as you obtain your token, you own hashpower from our
        farms forever, as long as you hold the token.
      </p>
      <p>Each token equals 1 GigaHash of SHA256 algorithm - or equal amount of hashpower for other algorithms. As long
        as you hold the token, you receive the regular profit distribution.</p>
      <p>You can also sell your tokens whenever you desire.</p>
      <br><br>
      <!-- <div class="hidden col-xs-12 col-md-6 col-md-offset-3 s-countdown-bg g-margin-b-40--xs text-center wow fadeIn"
          data-wow-delay="1.5s">
          <div class="s-countdownheader">
            <h6 class="g-margin-b-0--xs">ICO Countdown :</h6>
          </div>
          <h3 class="g-display-inline-block--xs g-margin-l-10--xs g-color--gray-light">
            <span class="g-font-size-60--lg g-font-size-42--md g-font-size-24--xs g-font-weight--700"
              id="Days">55</span>
            <br>
            <span class="g-font-size-26--lg g-font-size-20--sm g-font-size-12--xs">Days</span>
          </h3>
          <h3 class="g-display-inline-block--xs g-margin-l-10--xs g-color--gray-light g-vertical-align--top">
            <span class="g-font-size-60--lg g-font-size-42--md g-font-size-24--xs g-font-weight--700"> : </span>
          </h3>
          <h3 class="g-display-inline-block--xs g-margin-l-10--xs g-color--gray-light">
            <span class="g-font-size-60--lg g-font-size-42--md g-font-size-24--xs g-font-weight--700" id="Hours">
              03</span>
            <br>
            <span class="g-font-size-26--lg g-font-size-20--sm g-font-size-12--xs">Hours </span>
          </h3>
          <h3 class="g-display-inline-block--xs g-margin-l-10--xs g-color--gray-light g-vertical-align--top">
            <span class="g-font-size-60--lg g-font-size-42--md g-font-size-24--xs g-font-weight--700"> : </span>
          </h3>
          <h3 class="g-display-inline-block--xs g-margin-l-10--xs g-color--gray-light">
            <span class="g-font-size-60--lg g-font-size-42--md g-font-size-24--xs g-font-weight--700" id="Minutes">
              25</span>
            <br>
            <span class="g-font-size-26--lg g-font-size-20--sm g-font-size-12--xs">Minutes </span>
          </h3>
          <h3 class="g-display-inline-block--xs g-margin-l-10--xs g-color--gray-light g-vertical-align--top">
            <span class="g-font-size-60--lg g-font-size-42--md g-font-size-24--xs g-font-weight--700"> : </span>
          </h3>
          <h3 class="g-display-inline-block--xs g-margin-l-10--xs g-color--gray-light">
            <span class="g-font-size-60--lg g-font-size-42--md g-font-size-24--xs g-font-weight--700" id="Seconds">
              30</span>
            <br>
            <span class="g-font-size-26--lg g-font-size-20--sm g-font-size-12--xs">Seconds </span>
          </h3>
        </div> -->
      <div class="col-xs-12 g-padding-x-0--xs g-padding-x-15--sm g-margin-b-10--xs wow fadeIn">
        <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 g-padding-x-0--xs g-padding-x-15--sm">
          <form action="" id="Form">
            <div class="input-group g-margin--auto">
              <input id="Email" type="email" style="height: 40px;"
                class="form-control s-phone-number-input g-font-size-16--xs g-padding-x-20--xs" name="Email"
                placeholder="E-mail address">
              <div class="g-font-size-16--xs input-group-btn s-phone-number-btn">
                <button type="submit" class="s-phone-number-btn g-padding-x-20--sm g-padding-x-10--xs">put <span
                    class="hidden-xs">me </span>on the <span class="hidden-xs">waiting
                  </span>list</button>
              </div>
            </div>
            <div class="errorTxt text-center"></div>
          </form>
        </div>
      </div>

      <div class="col-xs-12">
        <p>(we will inform you before ICO and you will be prioritized)</p>
      </div>
      <br><br>
      <br><br>
      <div class="col-xs-12 g-margin-b-100--xs wow fadeIn">
        <div class="col-xs-12 col-md-6 col-md-offset-3 g-padding-x-0--xs g-padding-x-15--sm g-padding-x-50--md">
          <hr class="g-width-100--xs">
        </div>
      </div>

    </div>
  </div>
</section>
<!--========== END Title Promo ==========-->

<!--========== PAGE CONTENT ==========-->
<section
  class="container-fluid g-padding-x-10--xs g-padding-x-35--sm g-padding-x-150--lg g-margin-b-30--xs g-margin-b-0--md g-padding-y-80--md g-padding-y-50--xs g-padding-x-100--md">

  <div class="col-xs-12 g-margin-b-60--xs wow fadeIn">
    <div class="col-xs-12 col-sm-7 g-padding-x-0--xs g-padding-x-15--sm g-padding-x-50--md g-pull-right--sm">
      <h2 class="s-cry-title g-font-weight--700">Highly Profitable Investment</h2>
      <p>The price of electricity is the main factor in mining profitability. We have access to inexpensive
        electricity &lt; 0.03USD per kilowatt - that boosts the profitability </p>
    </div>
    <div class="col-xs-12 col-sm-5 g-padding-x-0--xs g-padding-x-15--sm">
      <img src="img/Home/feature1.svg" alt="crytech mining profitability" class="img-responsive g-margin--auto">
    </div>
  </div>

  <div class="col-xs-12 wow fadeIn">
    <div class="col-xs-12 col-sm-7 g-padding-x-0--xs g-padding-x-15--sm g-padding-x-50--md">
      <h2 class="s-cry-title g-font-weight--700">Secure Investment</h2>
      <p>You rest assured that your budget directly goes into mining hardwares and your capital is actually swapped
        with physical devices that mine crypto-currencies </p>
      <p>We distribute our farms in several countries, all of which have declared mining legitimate and legal.</p>
    </div>
    <div class="col-xs-12 col-sm-5 g-padding-x-0--xs g-padding-x-15--sm">
      <img src="img/Home/feature2.svg" alt="Crytech mining Security" class="img-responsive g-margin--auto">
    </div>
  </div>
</section>

<section style="background: url(img/Home/section-bg-up.svg) 0% 0% no-repeat;"
  class="container-fluid g-padding-x-10--xs g-padding-x-35--sm g-padding-x-150--lg g-margin-b-30--xs g-margin-b-0--md g-padding-y-80--md g-padding-y-50--xs g-padding-x-100--md text-center">
  <br><br>

  <h2 class="s-cry-title g-font-weight--700 g-display-inline-block--xs">Compare with Other Cloud Mining Services</h2>
  <br><br>
  <div class="table-responsive">
    <!--Table-->
    <table id="comparision" class="table table-striped">

      <!--Table head-->
      <thead>
        <tr>
          <th></th>
          <th>CryTech Mining</th>
          <th>CryTech Mining with bonus
            <span title="You will receive extra 20% CRY token as reward for invest in 1st ICO stage"
              class="badge badge-primary" data-toggle="tooltip" data-placement="top">i</span>
          </th>
          <th>
            CryTech mining with bonus.<br>Payment in CRY token
            <span
              title="Default payouts are in Ethereum. But you can choose to receive profit in CRY token. Then your profit generates profit too! (Compound interest)"
              class="badge badge-primary" data-toggle="tooltip" data-placement="top">i</span>
          </th>
          <th>mining.bitcoin.com</th>
          <th>genesis-mining</th>
          <th>Hashmart</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr id="trInvest">
          <th scope="row">Initial Investment</th>
          <td>$1,000</td>
          <td>$1,000</td>
          <td>$1,000</td>
          <td>$1,000</td>
          <td>$1,000</td>
          <td>$1,000</td>
        </tr>
        <tr id="trHashrate">
          <th scope="row">What you get:</th>
          <td>22.2 THash</td>
          <td>27.75 THash</td>
          <td>27.75 THash</td>
          <td>15 THash</td>
          <td>6.3 Thash</td>
          <td>10.2 Thash</td>
        </tr>
        <tr id="trRevenue" class="hidden">
          <th scope="row">Annual Revenue</th>
          <td>$2,050</td>
          <td>$2,562</td>
          <td>$4,877</td>
          <td>$1,385</td>
          <td>$582</td>
          <td>$942</td>
        </tr>
        <tr id="trCosts" class="hidden">
          <th scope="row">Annual Costs</th>
          <td>$1,468</td>
          <td>$1,835</td>
          <td>$3,493</td>
          <td>$547</td>
          <td>$0</td>
          <td>$483</td>
        </tr>
        <tr id="trProfit">
          <th scope="row">Annual Profit</th>
          <td>$582</td>
          <td>$727</td>
          <td>$1,384</td>
          <td>$838</td>
          <td>$582</td>
          <td>$459</td>
        </tr>
        <tr id="trAssets">
          <th scope="row">
            Assets value after 12 months
            <span
              title="Most of cloud mining services rent you hashpower. You will loose you initial investment after contract period. here is how much of your initial investment value is after 12 months."
              class="badge badge-primary" data-toggle="tooltip" data-placement="top">i</span>
          </th>
          <td>$1,000</td>
          <td>$1250</td>
          <td>$1,250</td>
          <td>0</td>
          <td>333</td>
          <td>1000</td>
        </tr>
        <tr id="trAssetPlusProfit" style="font-weight: bold;">
          <th scope="row">Assets value + Profit</th>
          <td>$1,582</td>
          <td>$1,977</td>
          <td>$2,634</td>
          <td>$838</td>
          <td>$915</td>
          <td>$1,459</td>
        </tr>
        <tr id="trProfitPercentage" class="s-profit-row">
          <th scope="row">Profit %</th>
          <td>58%</td>
          <td>98%</td>
          <td>163%</td>
          <td>-16%</td>
          <td>-9%</td>
          <td>46%</td>
        </tr>
        <tr>
          <th scope="row">You can sell and trade your hash power</th>
          <td><i class="far fa-check g-color--myco"></i></td>
          <td><i class="far fa-check g-color--myco"></i></td>
          <td><i class="far fa-check g-color--myco"></i></td>
          <td><i class="far fa-times g-color--red"></i></td>
          <td><i class="far fa-times g-color--red"></i></td>
          <td><i class="far fa-times g-color--red"></i></td>
        </tr>
        <tr>
          <th scope="row">Decentralized using smartcontracts</th>
          <td><i class="far fa-check g-color--myco"></i></td>
          <td><i class="far fa-check g-color--myco"></i></td>
          <td><i class="far fa-check g-color--myco"></i></td>
          <td><i class="far fa-times g-color--red"></i></td>
          <td><i class="far fa-times g-color--red"></i></td>
          <td><i class="far fa-times g-color--red"></i></td>
        </tr>
        <tr>
          <th scope="row">Hashpower ownership time</th>
          <td class="g-color--myco">Forever</td>
          <td class="g-color--myco">Forever</td>
          <td class="g-color--myco">Forever</td>
          <td class="g-color--red">12 month</td>
          <td class="g-color--red">21 month</td>
          <td class="g-color--myco">Forever</td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
    <br>
    <p>
      NOTE: All numbers are based on current bitcoin price and network difficulty
    </p>
  </div>
</section>

<section class="container text-center g-margin-b-30--xs g-margin-b-0--md g-padding-y-80--md g-padding-y-50--xs">
  <div class="row">
    <div class="col-xs-12 g-margin-b-40--xs">
      <h3 class="s-cry-title g-display-inline-block--xs g-font-weight--700">Profit calculator</h3>
    </div>
    <div class="col-xs-12 g-margin-b-30--xs">
      <h6>The amount of investment: <strong id="calcInvestValue">1,000$</strong>
      </h6>
      <input type="range" name="" class="slider" id="calcInvestRange" min="100" max="100000" step="100" value="1000">

      <br>
      <h6>Investment Period: <strong id="calcDurationValue">12 Month(s)</strong> </h6>
      <input type="range" name="" class="slider" id="calcDurationRange" min="1" max="120" value="24">

      <br>
      <h6>Bitcoin Price: <strong id="btcPriceValue"></strong> </h6>
      <input type="range" name="" class="slider" id="rangeBtcPrice" min="1000" max="100000" value="8300" step="100">

    </div>
    <div class="col-xs-12 col-sm-6 g-margin-b-30--xs g-padding-x-30--xs col-md-4">
      <div class="s-team-member g-padding-x-10--xs g-padding-y-40--xs" style="min-height: 370px;">
        <h4>After ICO investment</h4>
        <p>Hashrate: <strong id="hashRateAfterIco">X</strong> THash</p>
        <p>Profit: $<strong id="profitUsdAfterIco"></strong></p>
        <p>Tokens + Profit: $<strong id="AssetsPlusProfitAfterIco"></strong></p>
        <p id="profitAfterIco" class="text-center g-font-size-26 g-font-size-40--md g-color--purple">
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 g-margin-b-30--xs g-padding-x-30--xs col-md-4">
      <div class="s-team-member g-padding-x-10--xs g-padding-y-40--xs" style="min-height: 370px;">
        <h4>Investment in ICO</h4>
        <p>Hashrate: <strong id="hashRateIco">X</strong> THash</p>
        <p>Profit: $<strong id="profitUsdIco"></strong></p>
        <p>Tokens + Profit: $<strong id="AssetsPlusProfitIco"></strong></p>
        <p id="profitIco" class="text-center g-font-size-26 g-font-size-40--md g-color--purple">
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 g-margin-b-30--xs g-padding-x-30--xs col-md-4">
      <div class="s-team-member g-padding-x-10--xs g-padding-y-40--xs" style="min-height: 370px;">
        <h4>Investment in ICO payouts with CRY token</h4>
        <p>Hashrate: <strong id="hashRateIcoCry">X</strong> THash</p>
        <p>Profit: $<strong id="profitUsdIcoCry"></strong></p>
        <p>Tokens + Profit: $<strong id="AssetsPlusProfitIcoCry"></strong></p>
        <p id="profitIcoCry" class="text-center g-font-size-26 g-font-size-40--md g-color--purple">
        </p>
      </div>
    </div>
  </div>
  <br>
  <p>NOTE: All numbers are based on current network difficulty</p>
</section>

<section
  class="s-bg-section g-margin-b-80--sm g-margin-b-40--xs g-padding-y-80--xs g-position--relative g-width-100-percent--xs wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 g-margin-b-50--xs text-center">
        <h3
          class="s-cry-title--white g-font-size-26--xs g-font-size-28--md g-display-inline-block--xs g-font-weight--700">
          Transparency via Smart Contracts</h3>
      </div>
      <div class="col-xs-12 col-sm-8 g-margin-b-20--xs g-padding-x-20--xs g-color--white">
        All processes involving: issuing, distribution, and burning of tokens are done by Smart Contract.
        The Smart Contract directly inquires the Real Hash Power from the mining pool.
        The Smart Contract guarantees that 1 token is always equal 1 Giga Hash of SHA256 processing power (or equal
        amount of other algorithms).
      </div>
      <div class="col-xs-12 col-sm-4 hidden">
        <!-- <video controls>
              <source src="movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video> -->
      </div>
    </div>
  </div>
</section>

{{> team}}

<!-- timeline -->
{{> roadmap}}
<!--========== END PAGE CONTENT ==========-->

{{#contentFor "scripts"}}
{{!-- <script src="/vendor/jquery.migrate.min.js"></script>
<script src="/vendor/jquery.wow.min.js"></script>
<script src="/vendor/jquery.back-to-top.min.js"></script>
<script src="/js/global.min.js"></script>
<script src="/js/components/wow.min.js"></script>
<script src="/vendor/jquery.validate.min.js"></script>
<script src="/vendor/parallax.min.js"></script>
<script src="/js/form-validation.js"></script>
<script src="/js/count-down.js"></script>
<script src="/js/profit-calculator.js"></script> --}}

<script src="/dist/home.min.js"></script>

<script>
  var scene = document.getElementById('js-scene');
  var Parallax = new Parallax(scene);
</script>
{{/contentFor}}