 <!--========== Title Promo ==========-->
  <section
    class="container-fluid g-position--relative s-bg-section items g-padding-x-10--xs g-padding-x-35--sm g-padding-y-80--md g-padding-y-50--xs g-margin-b-20--xs">
    <div class="row text-center g-padding-y-40--xs g-padding-x-100--lg">
      <div class='col-xs-12 text-center wow fadeIn' data-wow-delay='0.1s'>
        <h1
          class="g-font-weight--700 g-margin-b-10--xs g-color--white g-font-size-26--xs g-font-size-40--md g-font-size-50--lg">
          Terms of Services</h1>
      </div>
    </div>
  </section>
  <!--========== END Title Promo ==========-->

  <!--========== PAGE CONTENT ==========-->
  <section class="container g-padding-y-30--xs g-margin-b-50--xs wow fadeIn" data-wow-delay='0.9s'>
    <div class="row">
      <p>Read it, it's important (and short)</p>
      <p><img class="g-width-50--xs" src="img/Terms/agreement.svg">&nbsp;
        This is the agreement. We are CryTech (crytech.trade -AKA website- domains and its subdomains). You are the
        user. Services are anything we provide. Laws are the terms of using services. Devices are Mining Machines.</p>

      <p>CryTech reserves the right to change/remove parts of laws, from now till ever.</p>
      <p>You are responsible to check the changes in laws periodically on our website. If you agree with laws, use our
        services. If you do not, simply don't.</p>

      <h4 class="g-margin-t-30--xs"><img class="g-width-50--xs" src="img/Terms/digital-wallet.svg">&nbsp;1. Your laws,
        your issue</h4>
      <p>Users reside in different countries. You need to take care of your local/governmental laws. We do not know who
        you are and where you come from (or go to, or live at, etc.). </p>

      <h4 class="g-margin-t-30--xs"><img class="g-width-50--xs" src="img/Terms/blockchain.svg">&nbsp;2. Using services
      </h4>
      <p>2.1 Keep your credentials safe, we neither ask for them, nor keep them. So credentials are your own
        responsibility. Be aware that by losing your credentials, you lose your capital.</p>

      <p>2.2 We may need your email, wallet address (for payments), etc. but we will never ask for your personal
        information.</p>

      <p>2.3 Termination. If we decide to terminate the services someday, we will definitely let you know why, when, and
        how.</p>

      <h4 class="g-margin-t-30--xs"><img class="g-width-50--xs" src="img/Terms/auction.svg">&nbsp;3. Rules</h4>
      <p>3.1 You accept that you will not act as a middle man in our services.</p>

      <p>3.2 Risks. We do not warranty profit. Cryptocurrencies are highly volatile and may cause serious loss as well
        as high profit.</p>

      <p>3.3 Will. We do not encourage you to invest your money in our services. If you use our services, it is your
        decision and your willingness.</p>

      <h4 class="g-margin-t-30--xs"><img class="g-width-50--xs" src="img/Terms/security.svg">&nbsp;4. Warranty</h4>
      <p>4.1 Despite the fact we do our best to protect the devices, damages (partial or complete) may occur. We will
        spread devices in more than two locations, we will repair/renew broken or old devices, we will provide safety.
        But there are always chances of loss like theft, Force Majeure Events (earthquake, fire, war, flood), etc. In
        such cases we do not warranty compensation.</p>

      <h4 class="g-margin-t-30--xs"><img class="g-width-50--xs" src="img/Terms/money.svg">&nbsp;5. Fees</h4>
      <p>5.1 By using our services, you confirm your knowledge that we get a good fee. That is what encourages us to
        develop, and to keep the system working and healthy. Instead of low fees, we get good fees, that results in a
        good environment, for CryTech and you.</p>

      <h4 class="g-margin-t-30--xs"><img class="g-width-50--xs" src="img/Terms/anonymous.svg">&nbsp;6. Contact</h4>
      <p>6.1 You may contact us via <a href="mailTo:info@crytech.trade">info@crytech.trade</a> as well as other routes
        declared on our website.</p>
    </div>
  </section>
  <!--========== END PAGE CONTENT ==========-->
{{#contentFor "scripts"}}
  <script src="vendor/jquery.wow.min.js"></script>
  <script src="js/components/wow.min.js"></script>
{{/contentFor}}